
.Modal_div {
    width: 80%;
    height: 80%;
    color: grey;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background: gainsboro; /*Funny collor  name*/
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrerer elementerne vertikalt */
    align-items: center; /* Centrerer elementerne horisontalt */
    border: 3px solid black;
    border-radius: 25px; /* Rounded corners */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Shadow effect */

}

.all_answers_for_question_div {
    max-height: 50%;
    max-width: 60%;
    width: 60%;
    height: 50%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line if needed */
    justify-content: flex-start; /* Aligns items to the start of the container */
}


.container_for_new_answer {
    width: 40%;
    height: 15%;
    max-height: 15%;
    max-width: 40%;

}

.question_input {
    background: white;
    width: 20%;
    height: 10%;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    font-size: large;
    text-align: center;
}

.discard_question_button {
    position: absolute; /* Absolute positioning relative to the nearest positioned ancestor */
    bottom: 0; /* Align to the bottom of the container */
    left: 0; /* Align to the left of the container */
    background-color: red; /* Set the background color to red */
    color: white; /* Optional: Set text color to white for contrast */
    padding: 5px 10px; /* Add some padding */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    font-size: larger;
}

.toast_promise_deletion_div {
    width: 40%;
    height: 40%;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background: gainsboro; /*Funny collor  name*/
    display: flex; /* Gør div'en til en flex container */
    flex-direction: column; /* Placerer elementerne vertikalt som en kolonne */
    justify-content: center; /* Centrerer elementerne vertikalt */
    align-items: center; /* Centrerer elementerne horisontalt */
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Shadow effect */
    font-size: larger;
}

