{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{> mod_livequiz/navigationbar}}
<div id="page-mod-livequiz-quizcreator">
    <h1>{{quizdata.title}}</h1>

<form>
    <div id="form-container" class="quiz_form_container">
        <label for="id_name">Quiz Name </label>
        <input type='text' id='id_name' value={{name}}>
        
        <label for=id_quiz_description > Description </label>
        <input type='textarea' id='id_quiz_description' value={{intro}}>
        <button type='button' id='id_buttonaddquestion'>Add Question </button>
    </div>
    
</form>
    <div id="saved-questions-container" style="border-radius: 10px; padding: 15px; background-color: #f9f9f9;">
        <h3>Saved Questions:</h3>
        <ol id="saved_questions_list" style="padding-left: 20px; margin: 0;">
            {{#savedquestions}}
                <li>{{{.}}}</li>
            {{/savedquestions}}
        </ol>
    </div>

    <div id="file-picker-container">
        {{{quizdata.filepicker}}}
    </div>

    <div id="quiz-modal-buttons">
        <button id="saveQuiz" class="save_button">Save Quiz</button>
        <button id="cancelQuiz" class="cancel_button">Cancel Quiz</button>
    </div>

</div>    
