{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_livequiz/question_section

    Question section for the livequiz plugin

    Classes required for JS:
    * none

    Context variables required for this template:
    * fill in later

    Example context (json):
    * fill in later

}}
<div class="main_content_runner">
    <div class="question_container">
    <div class="moodle_box">
        <p class="question_title">{{questiontitle}}</p>
        <p class="question_description">{{questiondescription}}</p>
        <div class="answer_container">
            <fieldset>
                {{#answers}}
                    <label id="{{answerid}}" class="answer
                            {{^isattempting}}
                                {{#chosen}}
                                    {{#correct}}correct{{/correct}}
                                    {{^correct}}incorrect{{/correct}}
                                {{/chosen}}
                                {{^chosen}}
                                    {{#correctnotchosen}}correct_not_chosen{{/correctnotchosen}}
                                {{/chosen}}
                            {{/isattempting}}">
                        <input type="{{questiontype}}" id="{{answerid}}" name="answers_for_question_{{questionid}}[]" value="{{answerid}}" class="{{quizid}}"
                            {{#chosen}}checked{{/chosen}}
                            {{^isattempting}}disabled{{/isattempting}}>
                            {{answerdescription}}
                    </label>
                {{/answers}}
            </fieldset>
        </div>
        {{^isattempting}}
            <p class="question_explanation">{{questionexplanation}}</p>
        {{/isattempting}}
    </div>
</div>
</div>
