<div id="toast_promise_deletion_div" class="toast_promise_deletion_div">
  Are you sure you want to discard changes?
  <button id="cancel_question_deletion_button" class="cancel_question_deletion_button">No</button>
  <button id="continue_question_deletion_button" class="continue_question_deletion_button">Yes</button>
</div>