{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_livequiz/question_section

    Question section for the livequiz plugin

    Classes required for JS:
    * none

    Context variables required for this template:
    * fill in later

    Example context (json):
    * fill in later

}}
<div class="question-container">
    <form method="post" action="submit_answers.php">
  <div class="title-container">
    <h1 class="quiz-title">{{quiz_title}}</h1>
  </div>
  <div class="question-container">
      <p class="question-title">{{question_title}}</p>
      <div class="media-container">
          <img src="" alt="">
      </div>
    <p class="question-description">{{question_description}}</p>
  </div>
  <div class="answer-container">
  <fieldset>
  {{#answers}}
    <div class="answer">
      <label for="{{answer_id}}">{{answer_description}}</label>
      <input type="{{answertype}}" id="{{answer_id}}" name="answers_for_question_{{question_id}}[]" value="{{answer_id}}"
        {{^is_attempting}} disabled {{/is_attempting}} />
    </div>
  {{/answers}}
  </fieldset>
  </div>
        <input type="hidden" name="quizid" value="{{quizid}}" />
        <input type="hidden" name="questionid" value="{{question_id}}" />
        <input type="hidden" name="questiontitle" value="{{question_title}}" />
        <input type="hidden" name="numberofquestions" value="{{numberofquestions}}" />
        <input type="submit" value="Submit question">
</form>
  <button class="check-answer">Check answer</button>
</div>


